body {
  background-color:#EEEEEE !important;
}

div.container{
  background-color: white;
  padding: 0;
}

h1{
  text-align: center;
}

.red{
  color: red;
}

.none{
  display: none;
}

.item{
  display: block; 
}

.error{
  color: red;
  margin-top: -15px;
  font-size: 14px;
}

.green{
  color: green;
}

.bold{
  font-weight: bold;
}

#addPosition{
  background-color: lightgreen;
  width: 200px;
  text-align: center;
  display: block;
  margin: 0 auto 0;
  padding: 5px;
  border: 1px solid black;
}

#addPosition:hover{
  cursor: pointer;
}

#date{
  position: absolute;
  right: 25px;
  top: -40px;
  width: 140px;
}

.relative{
  position: relative;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

table{
  width: 95% !important;
  margin: 0 auto 0;
}

#button{
  display: block;
  height: 40px;
}

#dataBoxForm{
  position: absolute;
  right: 15px;
  top: 90px;
}

.container{
  position: relative;
}

#button{
  height: 25px;
  margin-left: 15px;
  font-size: 14px;
}

#month{
  margin-right: 5px;
}

input[type="checkbox"]{
  width: 28px;
  height: 28px;
}

hr {
  width: 100%; 
  color: black; 
  height: 1px; 
  background-color:black;
}