* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: lightgoldenrodyellow;
}

#container{
    min-height: 600px;
    width: 1000px;
    margin: 15px auto 0;
    border: 1px solid black;
}

#main-title{
    font-size: 58px;
    border-bottom: 1px solid black;
}

/*  */

.title{
    width: 100%;
    height: 10%;
    background-color: pink;
    color: red;
}

img{
    width: 100%;
    height: 90%;;
}

a{
    display: block;
    width: 100%;
    height: 100%;
}